/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require main
 *= require formtastic
 *= require formtastic_changes
 *= require_tree .
 *= require_self
 */



h1{
  font-size: 1.25em;
}

.content {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}


.bread-crumb {
  padding: 0.5em 0em;
  line-height: 2em;
  font-size: 0.75em;
  border-bottom: solid 1px gray;
}

.cancel {
  margin-left: 25%;
  margin-top: 4em;
}

.change {
  text-align: right;
}
.application-doc {

}

.application-doc h1 {
  font-size: 1.25em;
  padding: 1em;
}
.application-section {
  padding: 1em 1em 1.5em 1em;
  margin: 1em;
  border-radius: 0.5em;
  background-color: #ddd;
}

.application-section ul {
  padding-left: 0;
  list-style: none;
}

.application-section ul li {
  margin-bottom: 0.5em;
}

.application-section .legend {
  margin-bottom: 1em;
}

.finished {
  background-color: #cfc;
}

li.crew {
  background-color: lightyellow;
}

.crew .boat {
  background-color: lightgreen;
}
.crew .boat_name {
  background-color: lightblue;
}

.crew .boat_data {
 background-color: pink; 

}